# Reduce build context size
node_modules
.git
.gitignore
.githooks
.github
coverage
.env
.env.*
npm-debug.log*
*.local
*.swp
*.tmp
*.log
**/.DS_Store
*.tgz
build/dist
build/*.map
build/**/*.map
scripts/*.log
scripts/*.tmp
**/tmp/**
**/cache/**
**/.cache/**
**/.vscode/**
**/.idea/**
**/.pnpm-store/**
**/.turbo/**
**/.next/**
**/dist/**

